.hamburger {

  display: none;
  width: 26px;
  height: 26px;
  position: absolute;
  top: 400px;
  right: 50%;
  transform: translateX(50%);
  z-index: 9;

  &__line span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 2px;
    background-color: $white;

    &::after,
    &::before {
      content: '';
      width: 26px;
      height: 2px;
      display: block;
      background-color: $white;
      position: absolute;
      left: 0;
    }

    &::after {
      top: 8px
    }

    &::before {
      bottom: 8px
    }

  }

  &__title {
    font-family: "OfficinaSerifBoldC";
    margin-top: 20px;
    white-space: nowrap;
  }
}
